{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>XXX Bank</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Favicon -->
<!--  <link href="{% static 'img/favicon.icon' %}"  rel="icon">-->

  <!-- Google Fonts -->
<!--  <link href="{% static 'https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900' %}" rel="stylesheet">-->
  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Bell
    Theme URL: https://bootstrapmade.com/bell-free-bootstrap-4-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->

</head>

<body>
  <!-- Page Content
    ================================================== -->
  <!-- Hero -->

  <section class="hero">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
<!--          <a class="hero-brand" href="index.html" title="Home"><img alt="XXX Bank" src="{% static 'img/logo.png' %}"></a>-->
        <h3 class="hero-brand"> XXX BANK</h3>
        </div>
      </div>

      <div class="col-md-12">
        <h1>
            We Take Care Of Your Money
          </h1>

        <p class="tagline">
          We Have The Best Solutions For Your Business To Grow, Choose The Right Account For You.
        </p>
      </div>
    </div>

  </section>

  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
<!--        <a href="index.html"><img src="{% static 'img/logo-nav.png' %}" alt="" title="" /></img></a>-->
        <!-- Uncomment below if you prefer to use a text image -->
        <h1><a href="#hero">XXX Bank</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="{% url 'home' %}">Home</a></li>
<!--          <li><a href="#about">About Us</a></li>-->
          {% if user.is_authenticated %}

          <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
          {% endif %}
          <li class="menu-has-children" style="color:white"><a>Branches</a>

            <ul>
               <li><a href="{% url 'thrissur' %}">Thrissur </a></li>
                  <li><a href="{% url 'ernakulam' %}">Ernakulam </a></li>
                  <li><a href="{% url 'palakkad' %}">Palakkad </a></li>
                  <li><a href="{% url 'calicut' %}">Kozhikode </a></li>
                  <li><a href="{% url 'trivandrum' %}">Thiruvananthapuram </a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->

      <nav class="nav social-nav pull-right d-none d-lg-inline">
        {% if user.is_authenticated %}
          <b style="color:white">Hello {{user.username}}</b>
        {% endif %}
      </nav>
    </div>
  </header>

  {% block body %}
  {% endblock %}


  <footer class="site-footer">
    <div class="bottom">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-xs-12 text-lg-left text-center">
            <p class="copyright-text">
              © XXX Bank
            </p>
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bell
              -->
             <a href="#">All rightsRecieved</a>
            </div>
          </div>

          <div class="col-lg-6 col-xs-12 text-lg-right text-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="{% url 'home' %}">Home</a>
              </li>

<!--              <li class="list-inline-item">-->
<!--                <a href="#about">About Us</a>-->
<!--              </li>-->

              <li class="list-inline-item">
                <a href="{% url 'login' %}">Login</a>
              </li>

              <li class="list-inline-item">
                <a href="{% url 'register' %}">Register</a>
              </li>

            </ul>
          </div>

        </div>
      </div>
    </div>
  </footer>
  <a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a>


  <!-- Required JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'lib/tether/js/tether.min.js' %}"></script>
  <script src="{% static 'lib/stellar/stellar.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.js' %}"></script>
  <script src="{% static 'lib/stickyjs/sticky.js' %}"></script>
  <script src="{% static 'lib/parallax/parallax.js' %}"></script>
  <script src="{% static 'lib/lockfixed/lockfixed.min.js' %}"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="{% static 'js/custom.js' %}"></script>

  <script src="{% static 'contactform/contactform.js' %}"></script>

</body>
</html>

